<h1 style="margin-left: 40%;">Movie Ticket Booking</h1>
<div class="container">
    <form #bookingForm="ngForm" (ngSubmit)="submit(bookingForm)">
        
        <div class="form-group">
            <label class="form-group-label">City</label>
            <select class="custom-select" #city="ngModel" name="city" required (change)="getTheater($event)" ngModel>
                <option selected value="">Choose City</option>
                <option *ngFor="let city of cityList">{{city}}</option>
            </select>
            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
                <small *ngIf="city.errors.required">
                   Please choose the city.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-label">Theater</label>
            <select class="custom-select" #theater="ngModel" name="theater" (change)="getMovieAndScreen($event)" required ngModel>
                <option selected value="">Choose Theater</option>
                <option *ngFor="let theater of selectedTheaterList" value="{{theater.theaterId}}">{{theater.theaterName}}</option>
            </select>
            <div *ngIf="theater.invalid && (theater.dirty || theater.touched)" class="alert alert-danger">
                <div *ngIf="theater.errors.required">
                   Please choose the Theater.
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="form-group-label">Movie</label>
            <select class="custom-select" #movie="ngModel" (change)="getShow($event)" name="movie" required ngModel>
                <option selected value="">Choose Movie</option>
                <option *ngFor="let movie of movieList" value="{{movie.movieId}}">{{movie.movieName}}</option>
            </select>
            <div *ngIf="movie.invalid && (movie.dirty || movie.touched)" class="alert alert-danger">
                <div *ngIf="movie.errors.required">
                   Please select the movie.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-label">Screen</label>
            <select class="custom-select" #screen="ngModel" name="screen" required ngModel>
                <option selected value="">Choose Screen</option>
                <option *ngFor="let screen of selectedScreenList" value="{{screen.screenName}}">{{screen.screenName}}</option>
            </select>
            <div *ngIf="screen.invalid && (screen.dirty || screen.touched)" class="alert alert-danger">
                <div *ngIf="screen.errors.required">
                   Please select the screen.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-group-label">Show</label>
            <select class="custom-select" #show="ngModel" name="show" (change)="getSeats($event)" required ngModel>
                <option selected value="">Choose Show</option>
                <option *ngFor="let show of selectedShowList" value="{{show.showId}}">{{show.showName}}</option>
            </select>
            <div *ngIf="show.invalid && (show.dirty || show.touched)" class="alert alert-danger">
                <div *ngIf="show.errors.required">
                   Please select the show.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Payment Method</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" #paymentMethod="ngModel" selected  required name="paymentMethod" value="Cash" ngModel>
                <label class="form-check-label">Cash</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" #paymentMethod="ngModel"required name="paymentMethod" value="Online" ngModel>
                <label class="form-check-label">Online</label>
            </div>
            <div *ngIf="paymentMethod.invalid && (paymentMethod.dirty || paymentMethod.touched)" class="alert alert-danger">
                <div *ngIf="paymentMethod.errors.required">
                   Please select the show.
                </div>
            </div>
        </div>
        <div *ngIf="seatShown">
            <label>Available Seats</label>
            <div class="form-check" *ngFor="let seat of seatIds">
                <input class="form-check-input" type="checkbox" #seats="ngModel" name="seats" value="{{seat}}" ngModel>
                <label class="form-check-label">{{seat}}</label>
            </div>
        </div>
        <button [disabled]="bookingForm.form.invalid" class="btn btn-primary">Book Ticket</button>
    </form>
</div>
<div class="container" *ngIf="showbooking">
    <h2 style="margin-left: 40%;"> Booking Details</h2>
    <table class="table">
        <tr>
            <th scope="row">Movie Id</th><td>{{booking.movieId}}</td>
        </tr>
        <tr>
            <th scope="row">Show Id</th><td>{{booking.showId}}</td>
        </tr>
        <tr>
            <th scope="row">Screen Name</th><td>{{booking.screenName}}</td>
        </tr>
        <tr>
            <th scope="row">Payment Method</th><td>{{booking.paymentMethod}}</td>
        </tr>
        <tr>
            <th scope="row">Seats</th><td>{{booking.choosenSeats}}</td>
        </tr>
    </table>
</div>
