<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div>
            <button><a routerLink="/addBooking">Book Ticket</a></button>
        </div>
        <div>
            <button><a routerLink="/bookings">All bookings</a></button>
        </div>
        <div>
            <button><a routerLink="/findBooking">Search Booking</a></button>
        </div>
        <div>
            <button><a routerLink="/getTicket"> Get Ticket</a></button>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>